body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.toggle_button {
  border: none;
  background: no-repeat;
  cursor: pointer;
}
.toggle_button:focus {
  outline: none;
}
.toggle_button:focus-visible {
  outline: none;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.points {
  margin-left: 40px;
}
.li_points {
  margin: 20px 0;
}
.ul_points {
  list-style: none;
  padding: 0;
}

.navbar_links {
  display: inline-flex;
}

.nav-item {
  margin: 0;
  padding: 10px;
}
.nav_link_items {
  display: flex;
  margin-left: 20px;
}
.main_navbar {
  background-color: #fbfbfb;
}
